.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

.button {
  width: auto;
}

.link {
  color: #4c4cff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.error {
  color: #e52b1a;
}
