.container {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 40px;
  gap: 60px;
}

.menuContainer {
  width: 320px;
  flex-shrink: 0;
}

.ordersContainer {
  flex: 1;
  min-width: 0;
}
